{% extends 'base.html'%}
{% block title %}Forwarder {{forwarder_id}} details{% endblock %}
{% block main_content %}

	<aside class="sidebar-left-collapse">
        {% load static %}
		<a href="https://www.lsst.org/">
        <img border="0" alt="LSST" src="{% static "images/lsst_trans.png" %}" width="85" height="40">
        </a>
		<div class="sidebar-links">

			<div class="link">

				<a href="/display">
					<i class="fa fa-table"></i>Tables
				</a>
				<ul class="sub-links">
                    <form action="/display/time_query/" method="post">
                         {% csrf_token %}
                         Scoreboard(s):
                         {{form.choose_scoreboard}}
                         (YYYY,MM,DD,HH,MM,SS)
                        <br>
                         Start time:
                         {{form.start_time}}
                         <br>
                         End time:
                         {{form.end_time}}
                        <input type="submit" style="display: none" />
                    </form>

				</ul>


			</div>

			<div class="link">

				<a href="#">
					<i class="fa fa-keyboard-o"></i>Commendable Devices
				</a>

				<ul class="sub-links">
					<li><a href="#">AR Foreman</a></li>
					<li><a href="#">PP Foreman</a></li>
					<li><a href="#">All</a></li>
				</ul>

			</div>

			<div class="link selected">

				<a href="#">
					<i class="fa fa-forward"></i>Forwarders
				</a>

				<ul class="sub-links">
					<li><a href="#">Archive Forwarders</a></li>
                    <li><a href="#">PP Forwarders</a></li>
					<li><a href="/display/forwarder2">Forwarder 2</a></li>
					<li><a href="/display/forwarder6">Forwarder 6</a></li>
					<li><a href="/display/forwarder12">Forwarder 12</a></li>
				</ul>

			</div>

			<div class="link">

				<a href="#">
					<i class="fa fa-arrows-alt"></i>Distributors
				</a>

				<ul class="sub-links">
					<li><a href="#">Link 1</a></li>
					<li><a href="#">Link 2</a></li>
					<li><a href="#">Link 3</a></li>
					<li><a href="#">Link 4</a></li>
				</ul>

			</div>

			<div class="link">

				<a href="#">
					<i class="fa fa-briefcase"></i>Jobs
				</a>

				<ul class="sub-links">
					<li><a href="#">Job State</a></li>
					<li><a href="#">Job Status</a></li>
					<li><a href="#">Visit</a></li>
					<li><a href="#">Session</a></li>
				</ul>

			</div>

			<div class="link">

				<a href="#">
					<i class="fa fa-picture-o"></i>Image IDs
				</a>

				<ul class="sub-links">
					<li>
						<form action="/display/img_query/" method="post">
							 {% csrf_token %}
							 Scoreboard(s):
							{{form.choose_scoreboard}}
							<i class="fa fa-search" style="font-size: 18px;"></i>
							<br>
							 {{form.img_chosen}}
							<input type="submit" style="display: none" />
						</form>
                    </li>
				</ul>


			</div>

		</div>

	</aside>

	<div class="main-content">
        <h1 title="HAHAHAHA" style="text-align:center;">Forwarder {{forwarder_id}} Status History</h1>
        {% for m in machine_chosen %}
        <ul class="info">{{m.time}}

            <li>Status: {{m.status}}
                {% if m.status == 'IDLE' %}
                    <img src="{% static "images/rvn.jpg" %}" alt="Status" style="width:20px;height:20px" title="IDLE">

                {% elif m.status == 'WORKING' %}
                    <img src="{% static "images/glazed.jpg" %}" alt="Status" style="width:20px;height:20px" title="WORKING">

                {% elif m.status == 'BAD' %}
                    <img src="{% static "images/felix.jpg" %}" alt="Status" style="width:20px;height:20px" title="BAD">

                {% else %}
                    <img src="{% static "images/Love_story.jpg" %}" alt="Status" style="width:20px;height:20px" title="UNKNOWN">

                {% endif %}
            </li>

            <li >
                Session: {{m.session}}
            </li>

            <li >
                Image ID: {{m.image_id}}
            </li>

            <li >
                Visit: {{m.visit}}
            </li>

        </ul>
        {% endfor %}

    </div>

{% endblock %}