*.pyc
tests/.cache
.cache
gunk
logs
*.o
forwarder/src/*.o
forwarder/src/Forwarder
forwarder/src/old
DAQForwarder
AckSubscriber
EventSubscriber
CommandListener
ospl-info.log
*_cache/
env
ospl-error.log
ospl-info.log
*.log
nohup.out
core*
