[Unit]
Description=L1 AuxDevice Service
Requires=ctrl_dependency.target
After=multi-user.target ctrl_dependency.target
BindsTo=ctrl_iip.target

[Service]
Type=simple
User=centos
WorkingDirectory=/home/centos/src/git/ctrl_iip/python/lsst/iip
ExecStart=/usr/bin/python3.6 /home/centos/src/git/ctrl_iip/python/lsst/iip/AuxDevice.py
ExecStop=/usr/bin/bash /home/centos/src/git/ctrl_iip/python/lsst/iip/scripts/services/stop_services.sh
Restart=always

[Install]
WantedBy=ctrl_iip.target
