[Unit]
Description=L1 AckSubscriber Service
Requires=ctrl_dependency.target
After=DMCS.service
BindsTo=ctrl_iip.target

[Service]
Type=simple
User=ATS
WorkingDirectory=/home/ATS/src/git/ctrl_iip/python/lsst/iip
ExecStart=/usr/bin/bash ./start_up/run_AckSubscriber.sh
ExecStop=/usr/bin/bash ./scripts/at_rmq_purge_queues.sh
Restart=always

[Install]
WantedBy=ctrl_iip.target
