[Unit]
Description=L1 DMCS Service
Requires=ctrl_dependency.target
After=AuxDevice.service
BindsTo=ctrl_iip.target

[Service]
Type=simple
User=ATS
WorkingDirectory=/home/ATS/src/git/ctrl_iip/python/lsst/iip
ExecStart=/usr/bin/python3.6 DMCS.py
ExecStop=/usr/bin/bash ./scripts/at_rmq_purge_queues.sh
Restart=always

[Install]
WantedBy=ctrl_iip.target
