[Unit]
Description=L1 AckSubscriber Service
Requires=l1d-ctrl_dependency.target
After=l1d-DMCS.service
BindsTo=l1d-ctrl_iip.target

[Service]
Type=simple
User=ATS
WorkingDirectory=/opt/lsst/dm-prompt/bin
ExecStart=/usr/bin/bash run_AckSubscriber.sh
Restart=always

[Install]
WantedBy=l1d-ctrl_iip.target
