[Unit]
Description=L1 Ctrl Check Service
Requires=l1d-ctrl_dependency.target
BindsTo=l1d-ctrl_iip.target

[Service]
Type=simple
WorkingDirectory=/home/ATS/src/git/ctrl_iip/python/lsst/iip
ExecStart=/usr/bin/bash ./start_up/check_services.sh
Restart=always

[Install]
WantedBy=l1d-ctrl_iip.target
