[Unit]
Description=L1 AuxDevice Service
Requires=l1d-ctrl_dependency.target
BindsTo=l1d-ctrl_iip.target

[Service]
Type=simple
User=ATS
WorkingDirectory=/opt/lsst/dm-prompt/bin
ExecStart=/opt/rh/rh-python36/root/usr/bin/python3.6 AuxDevice.py
Restart=always

[Install]
WantedBy=l1d-ctrl_iip.target
