[Unit]
Description=L1 CommandListener Service
Requires=l1d-ctrl_dependency.target
After=l1d-DMCS.service
BindsTo=l1d-ctrl_iip.target

[Service]
Type=simple
User=ATS
WorkingDirectory=/home/ATS/src/git/ctrl_iip/python/lsst/iip/ocs/src
ExecStart=/usr/bin/bash ../../start_up/run_CommandListener.sh
Restart=always

[Install]
WantedBy=l1d-ctrl_iip.target
