[Unit]
Description=L1 Redis Service
Requires=multi-user.target
After=multi-user.target
BindsTo=ctrl_dependency.target

[Service]
User=root
Type=forking
WorkingDirectory=/home/ATS/src/git/ctrl_iip/python/lsst/iip
ExecStart=/usr/local/bin/redis-server ./scripts/services/redis.conf
Restart=always

[Install]
WantedBy=multi-user.target
