[Unit]
Description=L1 DMCS Service
Requires=l1d-ctrl_dependency.target
After=l1d-AuxDevice.service
BindsTo=l1d-ctrl_iip.target

[Service]
Type=simple
User=ATS
WorkingDirectory=/opt/lsst/dm-prompt/python
ExecStart=/opt/rh/rh-python36/root/usr/bin/python3 DMCS.py
Restart=always

[Install]
WantedBy=l1d-ctrl_iip.target
