[Unit]
Description=L1 Ctrl Check Service
Requires=l1d-ctrl_dependency.target
BindsTo=l1d-ctrl_iip.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ATS/src/git/ctrl_iip/bin
ExecStart=/usr/bin/bash check_services.sh
Restart=always

[Install]
WantedBy=l1d-ctrl_iip.target
